@page
@model Opdracht_2_1.Pages.Pagina2Model
@{
}

<div class="text-center">
    <!--Zet hier de linkjes naar pagina 3 -->
    <!--Bedenk wel dat je twee parameters moet meesturen: getal1 en getal2-->
</div>
